:root{
--card1: hsl(31, 77%, 52%);
--card2: hsl(184, 100%, 22%);
--card3: hsl(179, 100%, 13%);
--paragraphs: hsla(0, 0%, 100%, 0.75);
--otherp: rgb(242, 242, 242);
--Fontsize: 13px;
--font-family: 'Lexend Deca', sans-serif;
--font-head: 'Big Shoulders Display', cursive;
}
body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.page{
    width:1307px;
    height:723px;
    background-color: var(--otherp);
    position:absolute;
    margin-right: auto;
    margin-left:auto;
}
.container{
    display:flex;
    flex-direction:row;
    width:calc(277px*3);
    height:452px;
    margin-right: auto;
    margin-left:auto;
    margin-top: 152px;
    margin-bottom: 115px;
    

}
.card1, .card2, .card3{
    display:flex;
    flex-direction:column;
    font-family: var(--font-family);
    font-size: var(--Fontsize);
    width:277px;
    height:448px;
    justify-content: flex-start;
    align-items: flex-start;
    color:var(--paragraphs);
    line-height: 23px;
}
.card1{
    background-color: var(--card1);
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}
.card2{
    background-color: var(--card2);
    
}
.card3{
    background-color: var(--card3);
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}
div svg, div p, div button{
    margin-left: 45px;
    margin-right: 49px;
    font-weight: 400;
}
.title1,.title2,.title3{
    font-size: 35px;
    font-family: var(--font-head);
    margin-top: 40px;
    text-transform: uppercase;
    margin-bottom: 21px;
    color: var(--otherp);
}
svg{
    margin-top: 40px;
}
button{
    width: 130px;
    height: 43px;
    margin-top: 60px;
    border-radius: 20px;
    border: none;
}
.card1 button{
    color:var(--card1)
}
.card1 button:hover{
    background-color: var(--card1);
    color: var(--otherp);
    border:2px solid var(--otherp);
}
.card2 button{
    color:var(--card2)
}
.card2 button:hover{
    background-color: var(--card2);
    color:var(--paragraphs);
    border:2px solid var(--otherp);
}
.card3 button{
    color:var(--card3)
}
.card3 button:hover{
    background-color: var(--card3);
    color:var(--paragraphs);
    border:2px solid var(--otherp);
}
.footer{
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
    margin-top: 742px;
}

@media (max-width:375px){
    .page{
        width: 345px;
        height: calc(460px*3);
        margin-top: 10px;
    }
    .container{
        flex-direction: column;
        margin-top: 73px;
        margin-left: 34px;
    }
    body{
        margin-left:10px;
    }
    button{
        margin-top: 0px;
        margin-bottom: 43px;
    }
    .card1{
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .card3{
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }
}

